/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 1200px) {
  .intro {
    font-family: 'Moon 2.0 Regular';
    font-size: 2.5rem;
    line-height: 1.5em;
  }
} */

/* 4k Screen */
@media only screen and (min-width: 2560px) {
  html {
    margin: 0 20% !important;
  }

  .navbar {
    box-shadow: none !important;
    margin: 0 0% !important;
  }

  .fixed-top{
    padding: 0% 10% 0% 10%;
  }
}

@media only screen and (max-width: 1548px) {
  .into-image {
    margin-top: 10%;
  }

  .project-content-h1 {
    font-size: 2em;
  }
  
  .header-text-2 {
    font-size: 8rem;
    line-height: 7rem;
    text-align: center;
  }
  
  .header-text-3 {
    font-size: 1.8rem;
    text-align: center;
  }

  .header-text-1 {
    text-align: center;
  }

}

@media only screen and (max-width: 1233px) {
  .hero-row {
    margin-top: 7rem;
  }

  .project-content-h1 {
    font-size: 2em;
    line-height: 3.5rem;
  }

  .project-content-h2 {
    font-size: 1.2em;
  }

  .txt-rotate {
    font-size: 1.8rem;
  }

  .header-text-2 {
    font-size: 6rem;
    line-height: 5rem;
  }
}

@media only screen and (max-width: 1065px) {
  /* #hero {
    height: 200vh;
    background: linear-gradient(0deg, #ffffff 50%, #f6efe7 50%);
  } */

  #hero-txt-content {
    margin-top: 5%;
    max-width: 100%;
    max-height: 362px;
  }

  #hero-img-content {
    text-align: center;
  }

  .intro-container {
    width: 100%;
  }

  .navbar {
    height: 11%;
  }

  .navbar-nav {
    background-color: #ffffff;
  }

  .logo {
    margin-left: 30%;
    margin-top: 10%;
    width: 25%;
  }

  /* .center-content {
    top: 50%;
  } */

  .intro {
    font-size: 2.1em;
  }

  /* .intro-child {
    font-size: 1.3em;
  } */

  .cartoon {
    max-height: 75vh;
    width: 80%;
  }

  .content-header {
    font-size: 1.5em;
  }

  .content-body {
    font-size: 1em;
  }

  .content-padding {
    padding-top: 15%;
    padding-left: 7%;
    padding-right: 5%;
  }

  .subcontent {
    padding-left: 12%;
    padding-right: 10%;
  }

  .designContentHeading {
    font-size: 2.5em;
  }

  .designContentBody {
    font-size: 1em;
  }

  .designContentRead {
    font-size: 0.8em;
  }

  .designContentPadding {
    padding-top: 30%;
  }

  .scroll-arrow {
    padding-right: 2%;
  }

  .art-column {
    padding-top: 15%;
    padding-left: 5%;
  }

  .arrowup {
    opacity: 0.8;
    background: white;
    width: 55%;
  }

  .me-social {
    width: 15%;
    padding-right: 7%;
    display: none;
  }

  .me-social-text {
    display: none;
  }

  .footer-social {
    width: 15%;
    padding-right: 5%;
    padding-bottom: 2%;
  }

  /* Image Model */
  .modal-content {
    width: 100%;
  }

  .project-navigation {
    font-family: 'Chillax Regular';
    font-size: 0.7em;
  }

  /* Hide side nav */
  .sidenav {
    display: none;
  }

  .kktfwp-nav div.kktfwp-next {
    padding: 0 27% 5% 3%;
    width: 50%;
  }

  .kktfwp-nav div.kktfwp-prev {
    padding: 0 3% 5% 27%;
    width: 50%;
  }

  .kktfwp-nav a .n-title {
    font-size: 0.5em;
  }

  .insights {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    border-bottom: solid 2px black;
  }
}

@media screen and (max-width: 990px) {
  #hero > div > div {
    padding: 8rem;
  }

  .logo {
    margin-left: 30%;
    margin-top: 10%;
    width: 35%;
  }

  .nav-item {
    font-size: 1.5rem;
    padding: 3%;
  }

  .intro-container {
    padding-right: 10%;
  }

  /* .into-image {
    padding-top: 2%;
  } */

  .me-image-2,
  .blog {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .me-image-1 {
    padding: 10% 0 0 8%;
  }

  .txt-rotate {
    font-size: 1.5rem;
  }

  .project-container {
    padding: 7% 7% 15% 7%;
  }

  .center-content {
    top: 30%;
    bottom: 30%;
  }

  .center-align {
    text-align: left;
  }

  .thankyou {
    font-size: 3rem;
  }

  .project {
    margin: 2% 10% 5% 10%;
    font-size: 1.3rem;
  }

  .me {
    font-size: 1.3rem;
  }

  .more {
    font-size: 2.8rem;
  }

  .bounce-arrow {
    visibility: hidden;
  }

  #hero-img-content {
    margin-top: 10%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .art-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .portfolio {
    column-count: 2;
    column-gap: 1em;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    margin-top: 15%;
  }

  .footer {
    padding-right: 5%;
  }

  .footer-icons {
    justify-content: center;
  }

  .footer-text {
    text-align: center;
    padding: 1rem;
  }

  .thankyou {
    font-size: 2.5rem;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .scroll-to-top {
    visibility: hidden;
  }
  .intro {
    font-size: 1.8em;
    text-align: justify;
  }
  .intro-script {
    font-size: 1.8em;
  }

  .intro-child {
    font-size: 1.2em;
  }

  .art-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .portfolio {
    column-count: 1;
    column-gap: 1em;
  }

  .overlay-container:hover .overlay {
    opacity: 0;
  }

  .thankyou {
    font-size: 2rem;
  }

  .listgroup{
    padding: 15%;
  }
}

@media screen and (max-width: 515px) {
  html {
    font-size: 11px;
  }

  .banner {
    margin-top: 20%;
  }

  .navbar-toggler {
    font-size: 2rem;
  }

  /* .intro-container {
    width: 100%;
  } */
}

@media screen and (max-width: 340px) {
  .txt-rotate {
    font-size: 1.5rem;
  }

  #hero > div > div:last-child {
    padding-top: 9rem;
    padding: 6rem;
  }

  .listgroup {
    padding: 30%;
  }
}
