/* Header */
.banner {
  margin-top: 10%;
  background-color: #475a51;
}

.header-padding {
  padding: 10% 0 10% 0;
  font-family: 'Chillax Regular';
  text-align: center;
  color: white;
}

.header-text-1 {
  font-size: 1.2rem;
  font-family: 'Chillax Light';
}

.header-text-2 {
  font-size: 5rem;
  line-height: 4rem;
}

.header-text-3 {
  font-size: 2rem;
  line-height: 5rem;
  font-family: 'Chillax Light';
}

/* Content */
.project {
  font-family: 'Chillax Regular';
  color: #242424;
  margin: 7% 15% 5% 15%;
  font-size: 1rem;
}

.content-heading {
  font-family: 'Chillax Medium';
  font-size: 2rem;
  margin-bottom: 3%;
}

.subcontent {
  padding-top: 3%;
  padding-left: 5%;
}

.version {
  padding-top: 5%;
}

.goal-padding {
  padding-right: 10%;
}

/* Image */
.image-padding {
  padding-top: 5%;
  padding-bottom: 5%;
}

.image-shadow {
  box-shadow: 7.04638px 7.04638px 60px 12px rgba(0, 0, 0, 0.25);
}

.image-round-edge {
  border-radius: 14.0928px;
}

/* General */

li {
  margin: 2% 0 0 3%;
}

/* User insights */
.insights {
  padding-left: 1%;
  padding-right: 5%;
  padding-top: 2%;
}

.insights-row {
  padding-top: 5%;
}

.insights-icon {
  width: 4%;
  padding-right: 3%;
  padding-left: 3%;
}

.content-quote {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #7a7474;
  text-align: center;
}

/* Navigation */
.kktfwp-nav {
  margin: 10% 0 0 0;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: 600;
  font-size: 26px;
  position: relative;
  color: inherit;
  font-family: 'Poppins', sans-serif;
}

.kktfwp-nav a {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: block;
  line-height: 1em;
  transition: color 0.15s ease;
}

.kktfwp-nav a span {
  display: block;
  position: relative;
}

.kktfwp-nav div.kktfwp-prev {
  padding: 0 3% 0 27%;
  width: 50%;
}

.kktfwp-nav div.kktfwp-prev a .n-desc {
  padding-bottom: 12px;
  border-bottom: 2px solid currentColor;
}

.kktfwp-nav a .n-title {
  padding-top: 12px;
  font-size: 16px;
  position: absolute;
  left: 0;
  transform: translate3d(0, -12px, 0);
  width: 100%;
  cursor: default;
  opacity: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
  transition-delay: 0s;
  pointer-events: none;
  word-wrap: break-word;
}

.kktfwp-nav div.kktfwp-prev a .n-desc:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -5px;
  height: 4px;
  width: 60%;
  background-color: currentColor;
  transition: width 0.25s ease;
}

.kktfwp-nav div.kktfwp-prev a:hover > .n-desc:after {
  width: 100%;
}

.kktfwp-nav div.kktfwp-prev a:hover > .n-title {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.kktfwp-nav a .n-title {
  padding-top: 12px;
  font-size: 16px;
  position: absolute;
  left: 0;
  transform: translate3d(0, -12px, 0);
  width: 100%;
  cursor: default;
  opacity: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
  transition-delay: 0s;
  pointer-events: none;
  word-wrap: break-word;
}

.kktfwp-nav div.kktfwp-next {
  padding: 0 27% 0 3%;
  width: 50%;
}

.kktfwp-nav div.kktfwp-next a .n-desc {
  padding-bottom: 12px;
  border-bottom: 2px solid currentColor;
}

.kktfwp-nav div.kktfwp-next a .n-desc:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 4px;
  width: 60%;
  background-color: currentColor;
  transition: width 0.25s ease;
}

.kktfwp-nav div.kktfwp-next a:hover > .n-desc:after {
  width: 100%;
}

.kktfwp-nav div.kktfwp-next a:hover > .n-title {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.kktfwp-nav a .n-title {
  padding-top: 12px;
  font-size: 16px;
  position: absolute;
  left: 0;
  transform: translate3d(0, -12px, 0);
  width: 100%;
  cursor: default;
  opacity: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
  transition-delay: 0s;
  pointer-events: none;
  word-wrap: break-word;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.3;
}

.project-navigation {
  font-family: 'Chillax Regular';
  font-size: 1em;
}

.nav-color {
  color: #242424;
}

/* Side Navigation */

.sidenav {
  text-align: right;
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 5% 2% 2% 5%;
  text-decoration: none;
  font-size: 1em;
  color: #242424;
  display: block;
}

.sidenav a:hover {
  cursor: pointer;
  color: #818181;
}

.side-nav-item {
  min-width: 8vw;
  font-size: 1.2em;
  font-family: 'Chillax Regular';
  color: #242424;
}

.sidenav-active {
  border-right: solid 2px #242424;
  /* border-bottom-width: 20px; */
  font-family: 'Avenir Next Cyr Demi';
  font-size: 1.5em;
}
