/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 1200px) {
  .intro {
    font-family: 'Moon 2.0 Regular';
    font-size: 2.5rem;
    line-height: 1.5em;
  }
} */

@media only screen and (max-width: 991px) {
  #hero {
    height: 200vh;
    background: linear-gradient(0deg, #ffffff 50%, #f6efe7 50%);
  }

  #hero-img-content {
    text-align: center;
  }

  .navbar {
    height: 11%;
  }

  .navbar-nav {
    background-color: #ffffff;
  }

  #hero-txt-content {
    background-image: url('../assets/images/hero-bg.jpg');
    background-size: 105vw;
  }

  .logo {
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
  }

  .center-content {
    top: 50%;
  }

  .intro {
    font-size: 2rem;
  }

  .cartoon {
    max-height: 75vh;
    width: 80%;
  }

  .content-header {
    font-size: 1.5em;
  }

  .content-body {
    font-size: 1em;
  }

  .content-padding {
    padding-top: 15%;
    padding-left: 7%;
    padding-right: 5%;
  }

  .subcontent {
    padding-left: 12%;
    padding-right: 10%;
  }

  .designContentHeading {
    font-size: 2.5em;
  }

  .designContentBody {
    font-size: 1em;
  }

  .designContentRead {
    font-size: 0.8em;
  }

  .designContentPadding {
    padding-top: 30%;
  }

  .scroll-arrow {
    padding-right: 2%;
  }

  .art-column {
    padding-top: 15%;
    padding-left: 5%;
  }

  .arrowup {
    opacity: 0.8;
    background: white;
    width: 55%;
  }

  .me-social {
    width: 15%;
    padding-right: 7%;
    display: none;
  }

  .me-social-text {
    display: none;
  }

  .footer-social {
    width: 15%;
    padding-right: 5%;
    padding-bottom: 2%;
  }

  /* Image Model */
  .modal-content {
    width: 100%;
  }

  .project-navigation {
    font-family: 'Avenir Next Cyr Light';
    font-size: 0.7em;
  }

  /* Hide side nav */
  .sidenav {
    display: none;
  }

  .kktfwp-nav div.kktfwp-next {
    padding: 0 27% 5% 3%;
    width: 50%;
  }

  .kktfwp-nav div.kktfwp-prev {
    padding: 0 3% 5% 27%;
    width: 50%;
  }

  .kktfwp-nav a .n-title {
    font-size: 0.5em;
  }

  .insights {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    border-bottom: solid 2px black;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .art-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .art-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
