/* For Art */
/* Create four equal columns that sits next to each other */
.portfolio {
  column-count: 4;
  column-gap: 1em;
}

.year {
  font-size: 3rem;
  padding-top: 10%;
}

.project {
  font-family: 'Chillax Regular';
  color: #242424;
  margin: 7% 10% 5% 12%;
  font-size: 1rem;
}

.art-column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.art-column img {
  margin-top: 2%;
  vertical-align: middle;
  width: 100%;
}

.art-page-padding {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.overlay-container {
  position: relative;
  padding-top: 1em;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #242424;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}

.overlay-container:hover .overlay {
  opacity: 0.9;
  height: 45%;
}

.overlay-text {
  color: white;
  position: absolute;
  text-align: left;
  margin-top: 2%;
  margin-left: 1em;
}

.overlay-text-name {
  font-family: 'Chillax Regular';
  font-size: 1em;
}

.overlay-text-date {
  font-family: 'Chillax Light';
  font-size: 0.8em;
}

.overlay-text-description {
  padding-top: 1%;
  font-family: 'Chillax Light';
  font-size: 0.8em;
  font-style: italic;
}

.heading-padding {
  font-family: 'Chillax Regular';
  font-size: 2em;
  padding-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
}

.link {
  font-size: 1.2em;
  color: black;
}

.link-div {
  padding-top: 2%;
  padding-left: 5%;
}

/* .link :hover {
  border-bottom: solid 2.5px black;
} */
